<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Darkhast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Darkhast.Properties.Settings>
      <setting name="SearchDarkhastNameSearchType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SearchShomareFaniSearchType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SearchDarkhastNameSearchRealTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchShomareFaniSearchRealTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplyInTrashStyle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplyTaeedShodeStyle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplyTaeedNashodeStyle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplyDarHaleBarresiStyle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchTozihatSearchType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SearchTozihatSearchRealTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimerLoadGridViewDarkhasthaIsActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimerLoadGridViewDarkhasthaPeriod" serializeAs="String">
        <value>60000</value>
      </setting>
    </Darkhast.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <!--<add name="DatabaseEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.17.117\SQLExpress;initial catalog=Darkhastha;persist security info=True;user id=darkhast;password=12345;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DatabaseEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=Darkhastha;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="DarkhasthaListener"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="Darkhastha" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>